.timerBtn {
  width: 80px;
  height: 30px;
  border: 3px solid;
  border-radius: 12px;
  background-color: #333333;
  color: white;
  cursor: pointer;
  font-family: consolas, monospace;
}

#timeDisplay {
  /* # to select id*/
  font-size: 75px;
  color: #40c437;
  font-family: consolas, monospace;
}

#timeContainer {
  text-align: center;
  border: 3px solid;
  border-radius: 25px;
  background-color: #222222;
}

h4 {
  color: white;
  letter-spacing: 1.4px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: small;
  text-decoration: underline;
}