* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 450px;
  background: #003333;
  border-radius: 50px;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  padding: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 10px;
  margin-top: 15px;
}

h1 {
  color: white;
  letter-spacing: 1.4px;
}

#celsius,
#fahrenheit,
#kelvin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 25px;
  margin-right: 25px;
}

input {
  flex: 5;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 8px 0 0 8px;
  padding: 0 10px;
}

/*TO REMOVE the scroll button in the input box- for chrome, safari, edge, opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.icon {
  flex: 1;
  height: 60px;
  line-height: 60px;
  padding: 0 5px;
  text-align: center;
  font-size: 30px;
  background: #4d5964;
  color: #fff;
  border-radius: 0 8px 8px 0;
}

.button {
  margin-top: 25px;
  text-align: center;
}

.button button {
  border: none;
  outline: none;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 15px;
}

.button button:hover {
  background: #000;
  color: #fff;
}

h4 {
  color: white;
  letter-spacing: 1.4px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: small;
  text-decoration: underline;
}